body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

.square {
  background: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 3px inset #55f;
  margin: 0.1em;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.square-parent {
  background: #00f;
  float: left;
}

.square-R {
  background: radial-gradient(#f00 30%, #b00 50%, #400 70%);
}

.square-Y {
  background: radial-gradient(#ff0 30%, #cc0 50%, #440 70%);
}

.square-B {
  background: radial-gradient(#888 30%, #444 50%, #000 70%);
}

.player-R {
  color: #f00;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

.player-Y {
  color: #cc0;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

.player-B {
  color: #000;
  font-weight: bold;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}